

h1 {
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
	color: green;
	font-family: verdana;
	font-size:30px
}

#userLogin {
	
	margin: auto;
	text-align: center;

	width: 50%;

	font-family: verdana;

	padding: 30px
}

#registration {
	margin: auto;
	text-align: center;

	width: 50%;

	font-family: verdana;


}
#button {
	background-color: orange;
	


}