
.txt-label{
    font-family: menlo;
    color: black;
    font-size: 16px;
}

h1 {
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 10px;
	color: green;
	font-family: verdana;
	font-size:30px
}

#post-image {
	
	margin: auto;
	text-align: center;
    width: 400px;
	font-size: 12px;
	color: grey;
	padding: 40px
}

#submit {
	background-color: orange
}

input {
    text-align: center
}
